<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="10" parallel="tests"  >
    <test verbose="10" preserve-order="true" name="E:/workspace/InterfaceAutoTest/lessonhttpclient" >
        <classes>
            <class name="com.hsl.cn.cn.test.Test0001">
                <methods>
                    <include name="TestCookie"/>
                    <include name="TestExpress"/>
                </methods>
            </class>
            <class name="com.hsl.cn.cn.test.Test0002">
                <methods>
                    <include name="test001"/>
                    <include name="test002"/>
                </methods>
            </class>
            <class name="com.hsl.cn.cn.test.TestExpress">
                <methods>
                    <include name="TestCookie"/>
                    <include name="TestExpress"/>
                    <include name="TestBaiDu"/>
                </methods>
        </class>
        </classes>
    </test>
</suite>